#inject {
    height: 100vh;
}
.whiteTxT{
    color:white;
}
.bodyBg{
    background-color: black;
}
.banner{
    background-color: yellow;
    color: orange;
    font-size: 50px;
}
.center{
    display: flex;
    justify-content: center;
}
.start{
    font-size: 100px;
}
.options{
    font-size: 70px;
}
.bld{
    font-size: 50px;
}
.bld3{
    font-size: 40px;
}
.bld2{
    font-size: 42px;
}
.image{
    height: 30rem;
}
.cen{
    display: flex;
    align-items: flex-end;
}
.conWhite{
    background-color: white;
}
.rules{
    font-size: 75px;
}
.instrucText{
    font-size: 45px;
}
.hide{
    color: black;
}
.right{
    display: flex;
    justify-content: flex-end;
}
.left{
    display: flex;
    justify-content: flex-start;
}
.margin{
    margin-top: 16%;
}
.margin2{
    margin-top: 43%;
}
.margin3{
    margin-top: 30px;
}
.margin4{
    margin-bottom: 13%;
}
.hero{
    background-image: url('../images/respawn.jpg');
    background-repeat: repeat;
    background-size: cover;
    height: 100vh;
}
.hero2{
    background-image: url('../images/bld1.jpg');
    background-repeat: repeat;
    background-size: cover;
    
}
.hero3{
    background-image: url('../images/bld2.jpg');
    background-repeat: repeat;
    background-size: cover;
}
.hero4{
    background-image: url('../images/bld3.jpg');
    background-repeat: repeat;
    background-size: cover;
}
.over{
    font-size: 120px;
}
.bldQuest{
    background-color: black;
    opacity: 78%;
}
.p{
    color: yellow;
    text-shadow: 0 0 3px black;
}
.time{
    font-size: 45px;
    background-color: white;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}
.textShadow{
    text-shadow: 0 0 3px #FF0000;
}
.size{
    font-size: 45px;
}

/* modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .videoHeight{
      height: 100vh;
  }